<div class="row">
    <div *ngFor="let forecast of forecastList" class="col-12 col-sm-6 col-md-4">
        <wa-card>
            <wa-card-header>{{ forecast.dt_txt }}</wa-card-header>
            <wa-card-content>
                <div class="row">
                    <div *ngFor="let weather of forecast.weather" class="col-12 text-right">
                       {{ weather.description | uppercase }}
                    </div>
                </div>
                <wa-list>
                    <wa-list-item label="wind">{{ forecast.wind.speed }}</wa-list-item>
                    <wa-list-item label="temperature">{{ forecast.main.temp }}</wa-list-item>
                </wa-list>
            </wa-card-content>
        </wa-card>
    </div>
</div>
