<div class="row">
    <div *ngFor="let weather of weatherList" class="col-xs-12 col-sm-6 col-md-4">
        <wa-card
            class="c-pointer" 
            [elevationOnHover]="true" 
            (click)="selectCurrentWeatherItem(weather.id)">
            <wa-card-header>{{ weather.name }}</wa-card-header>
            <wa-card-content>
                <div class="row">
                    <div class="col-12">
                        Wind: {{ weather.wind.speed }}
                    </div>
                    <div class="col-12">
                        Temperature: {{ weather.main.temp }}
                    </div>
                </div>
            </wa-card-content>
        </wa-card>
    </div>
</div>