<div class="row">
    <div *ngFor="let weather of weatherList" class="col-12 col-sm-6 col-md-4">
        <wa-card
            class="c-pointer" 
            [elevationOnHover]="true" 
            (click)="selectCurrentWeatherItem(weather.id)">
            <wa-card-header>{{ weather.name | uppercase }}</wa-card-header>
            <wa-card-content>
                <wa-list>
                    <wa-list-item label="wind">{{ weather.wind.speed }}</wa-list-item>
                    <wa-list-item label="temperature">{{ weather.main.temp }}</wa-list-item>
                </wa-list>
            </wa-card-content>
        </wa-card>
    </div>
</div>